<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="apiurl" value=""/>
		<add key="api-key" value=""/>
		<add key="IS_LOGFILE" value="True"/>
		<add key="LOG_LEVEL" value="3"/>
		<add key="LOGDIR_PATH" value="./logs/"/>
		<add key="LOGFILE_NAME" value="console"/>
		<add key="LOGFILE_MAXSIZE" value="10485760"/>
		<add key="LOGFILE_PERIOD" value="30"/>
	</appSettings>
</configuration>